<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>PLUSQO.COM ADMIN</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/unify/assets/vendor/bootstrap/bootstrap.min.css">
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="/unify/assets/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/unify/assets/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="/unify/assets/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="/unify/assets/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="/unify/assets/vendor/icon-hs/style.css">
  <link rel="stylesheet" href="/unify/assets/vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="/unify/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
  <link rel="stylesheet" href="/unify/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
  <link rel="stylesheet" href="/unify/assets/vendor/animate.css">
  <link rel="stylesheet" href="/unify/assets/vendor/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/unify/assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/unify/assets/vendor/typedjs/typed.css">
  <link rel="stylesheet" href="/unify/assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="/unify/assets/vendor/hamburgers/hamburgers.min.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="/unify/assets/css/unify-core.css">
  <link rel="stylesheet" href="/unify/assets/css/unify-components.css">
  <link rel="stylesheet" href="/unify/assets/css/unify-globals.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="/unify/assets/css/custom.css">
</head>

<body>
  <main>

    <!-- Header -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">

      <div class="u-header__section u-header__section--dark g-bg-black g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="g-py-0">
        <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
          <div class="container">

            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->

            <!-- Logo -->
            <a href="/admin2" class="navbar-brand d-flex"><big><strong>PLUSQO.COM ADMIN</strong></big></a>
            <!-- End Logo -->

            <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
              <ul class="navbar-nav g-pos-rel g-font-weight-600 ml-auto">

                <!-- Wallet -->
                <% if can? :manage, Wallet %>
                <li class="nav-item  g-mx-10--lg g-mx-15--xl">
                  <%= link_to 'Wallets', admin2_wallets_path, :class => 'nav-link g-py-7 g-px-0' %>
                </li>
                <% end %>
                <!-- End Wallet -->

                <!-- Deposit -->
                <% if can? :menu, Deposit %>
                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                <a id="nav-link--deposit" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--deposit">Deposits</a>
                <ul class="g-bg-black hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu--buy" aria-labelledby="nav-link--features">
                <li class="dropdown-item ">
                <% Currency.ordered.codes.each do |c| %>
                <%= link_to c.upcase, admin2_deposit_index_path(c), :class => 'nav-link g-py-7 g-px-0' %>
                <% end %>
                </li>
                </ul>
                </li>
                <% end %>
                <!-- End Deposit -->

                <!-- Withdraw -->
                <% if can? :menu, Withdraw %>
                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                <a id="nav-link--withdraw" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--withdraw">Withdraws</a>
                <ul class="g-bg-black hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu--buy" aria-labelledby="nav-link--features">
                <li class="dropdown-item ">
                <% Currency.ordered.codes.each do |c| %>
                <%= link_to c.upcase, admin2_withdraw_index_path(c), :class => 'nav-link g-py-7 g-px-0' %>
                <% end %>
                </li>
                </ul>
                </li>
                <% end %>
                <!-- End Withdraw -->

                <!-- System -->
                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                <a id="nav-link--system" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--system">System</a>
                <ul class="g-bg-black hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu--buy" aria-labelledby="nav-link--features">
                <% if can? :manage, Blockchain %>
                <li class="dropdown-item ">
                <%= link_to 'Blockchains', admin2_blockchains_path, :class => 'nav-link g-py-7 g-px-0' %>
                </li>
                <% end %>

                <li class="dropdown-item ">
                <%= link_to 'Currencies', admin2_currencies_path, :class => 'nav-link g-py-7 g-px-0' %>
                </li>

                <% if can? :manage, Market %>
                <li class="dropdown-item ">
                 <%= link_to 'Markets', admin2_markets_path, :class => 'nav-link g-py-7 g-px-0' %>
                 </li>
                 <% end %>
                 <% if can? :manage, Member %>
                 <li class="dropdown-item ">
                 <%= link_to 'Members', admin2_members_path, :class => 'nav-link g-py-7 g-px-0' %>
                 </li>
                 <% end %>
                 </ul>
                </li>
                <!-- End System -->

                <!-- Account -->
                <li class="nav-item hs-has-sub-menu  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                <a id="nav-link--account" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--account">Account</a>
                <ul class="g-bg-black hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu--buy" aria-labelledby="nav-link--features">

                <li class="dropdown-item ">
                <%= link_to current_user.email, settings_path , :class => 'nav-link g-py-7 g-px-0' %>
                </li>
                <li class="dropdown-item ">
                <%= link_to 'Exit', main_app.signout_path , :class => 'nav-link g-py-7 g-px-0' %>
                </li>

                 </ul>
                </li>
                <!-- End Account -->

              </ul> 
            </div>
            <!-- End Navigation -->


          </div>
        </nav>
      </div>
    </header>
    <!-- End Header -->
    
    <section class="g-pos-rel g-pt-100">
    <div class="container">
    <div class="row no-gutters">    
    <%= yield %>
    </div>
    </div>
    </section>


    <!-- Copyright Footer -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center text-md-left g-mb-10 g-mb-0--md">
            <div class="d-lg-flex">
              <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2019 &copy; PLUSQO.COM All Rights Reserved.</small>
            </div>
          </div>

        </div>
      </div>
    </footer>
    <!-- End Copyright Footer -->
    <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>


  <!-- JS Global Compulsory -->
  <script src="/unify/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/unify/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
  <script src="/unify/assets/vendor/popper.js/popper.min.js"></script>
  <script src="/unify/assets/vendor/bootstrap/bootstrap.min.js"></script>


  <!-- JS Implementing Plugins -->
  <script src="/unify/assets/vendor/slick-carousel/slick/slick.js"></script>
  <script src="/unify/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="/unify/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="/unify/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
  <script src="/unify/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
  <script src="/unify/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
  <script src="/unify/assets/vendor/typedjs/typed.min.js"></script>

  <!-- JS Unify -->
  <script src="/unify/assets/js/hs.core.js"></script>
  <script src="/unify/assets/js/components/hs.carousel.js"></script>
  <script src="/unify/assets/js/components/hs.header.js"></script>
  <script src="/unify/assets/js/helpers/hs.hamburgers.js"></script>
  <script src="/unify/assets/js/components/hs.tabs.js"></script>
  <script src="/unify/assets/js/components/hs.popup.js"></script>
  <script src="/unify/assets/js/components/text-animation/hs.text-slideshow.js"></script>
  <script src="/unify/assets/js/components/hs.go-to.js"></script>

  <!-- JS Customization -->
  <script src="/unify/assets/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of text animation (typing)
        $(".u-text-animation.u-text-animation--typing").typed({
          strings: [
            "an awesome template",
            "perfect template",
            "just like a boss"
          ],
          typeSpeed: 60,
          loop: true,
          backDelay: 1500
        });
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>







</body>

</html>